
div{

    text-align: center;

}


#logo{

    width : 165px;
    height : 58px;
    margin-top: 80px;

 }

#menu {
    text-align: center;
    margin-bottom: 60px;
    margin-top: 60px;

 }

 #menu a {

    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    font-size: 16px;
    font-family : Helvetica , Arial, Helvetica, sans-serif;
    color : #58595B;
    text-decoration: none;

 }


 img{
    width: 90%;     
    height: 90%;
}